# Tuples

Tuples construct simple groups of objects. They are:
 * Ordered collections of arbitrary objects
 * Accessed by offset (index)
 * immutable
 * Fixed-length, heterogeneous, and arbitrarily nestable

A tuple is essentially an **immutable list**, which can be created like this:

In [ ]:
t = (1, 2, 3, 4, 5) # or t = 1, 2,3,4,5
print(type(t))

<class 'tuple'>

In [ ]:
t = 1,2,3,4,5
print(type(t))

<class 'tuple'>

* Tuples are enclosed in parentheses (optional). 

* Indexing and
slicing work the same as with lists.

In [ ]:
print(t[0])
print(t[:3])

1
(1, 2, 3)

* As with lists, you can get the length of the tuple by using the
`len` function

In [ ]:
len(t)

5

* concatenation and repetition work the same way

In [ ]:
# concatenation
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [ ]:
# repetition
('name', 'surname') * 4

('name', 'surname', 'name', 'surname', 'name', 'surname', 'name', 'surname')

* tuples also have `count` and `index` methods.

In [ ]:
print(t.count(1))
print(t.index(3))

1
2

In [ ]:
t[0] = 4

TypeError: ignored

Since a tuple is
immutable, it does not have any of the other methods that lists have, like `sort` or `reverse`, as
those change the list in place.

We have seen tuples already, for examle **dictionary** method `items()` returns a list of tuples.

In [ ]:
my_dict = {'A':1, 'B':2}
print(list(my_dict.items()))

[('A', 1), ('B', 2)]

When we use the following shortcut for exchanging the value of two or more variables, we
are actually using tuples:

In [ ]:
a = 1
b = 2
a, b = b, a
print(f'a={a}, b={b}')

a=2, b=1

In [ ]:
# unpacking
t = (1, 2, 3)
a, b, c = t
print(a, b, c)

1 2 3

One reason why there are both lists and tuples is that in some situations, *you might want an immutable
type of list*. 

For instance, lists cannot serve as keys in dictionaries because the values of
lists can change and it would be hard for dictionaries to keep track of. 

Tuples can serve as keys in dictionaries.

In [ ]:
my_dict = {('a', 'b'): 20, ('c', 'd'): 40}
print(my_dict[('a', 'b')])

20

Working with tuples are generally faster than lists. The flexibility
of lists comes with a cost in speed.

To convert an object into a tuple, use tuple. The following example converts a list and
a string into tuples:

In [ ]:
t1 = tuple([1,2,3])
t2 = tuple('abcde')
print(t1)
print(t2)

(1, 2, 3)
('a', 'b', 'c', 'd', 'e')

The empty tuple is `()`. The way to get a tuple with one element is like this:

In [ ]:
a = (1,)
print(type(a))
print(a)

<class 'tuple'>
(1,)

In [ ]:
a = (1)
print(type(a))

<class 'int'>

For example,
in the expression `2+(3*4)`, we don't want the (3\*4) to be a tuple, we want it to evaluate to a
number.

As we said earlier, tuples are heterogeneous

In [ ]:
my_tuple = ('a', 5)
my_tuple

('a', 5)

If we want to sort the items in a tuple, we can do the following

In [ ]:
tup = ('one', 'two', 'three', 'four')

tup_list = list(tup)
# sorting the list
tup_list.sort()
print(tup_list)

['four', 'one', 'three', 'two']

we can also use the `sorted` function, which will return a `list`

In [ ]:
t = (4, 2, 3, 4)
sorted(t)

[2, 3, 4, 4]

Looping works the same as with lists:

In [ ]:
for i in t:
  print(i, end=" ")

4 2 3 4

List comprehensions can also be used to convert tuples to lists

In [ ]:
tupl = (1, 2, 3, 4)
new_list = [x**2 for x in tupl]
new_list

[1, 4, 9, 16]

We can change mutable objects inside the tuple

In [ ]:
tp = (1, [2, 3])
print(tp)

tp[1][0] = 'change'
print(tp)

(1, [2, 3])
(1, ['change', 3])

## Named Tuples

Components of such tuples can be accessed by both position and attribute name, much like dictionaries.

In [ ]:
from collections import namedtuple

# making a generated class
Grade = namedtuple('Grades', ['Armen', 'Ashot', 'Gevorg'])

# the named-tuple
grades = Grade(Armen=80, Ashot=85, Gevorg=90)
grades

Grades(Armen=80, Ashot=85, Gevorg=90)

In [ ]:
type(grades)

__main__.Grades

In [ ]:
print(grades.Armen)
print('Ashot:', grades[1])

80
Ashot: 85

We can unpack like regular tuples

In [ ]:
a, b, c = grades
print(a, b, c)

80 85 90

Named tuples are also immutable

In [ ]:
grades.Armen = 10

AttributeError: ignored

We can convert into a dictionary

In [ ]:
tuple_to_dict = grades._asdict()
print(tuple_to_dict['Armen'])
print(tuple_to_dict)

80
{'Armen': 80, 'Ashot': 85, 'Gevorg': 90}

In [ ]:
for x in grades: print(x)

80
85
90

# Set

Set is an **unordered** collection of **unique** and **immutable objects** that supports operations corresponding to mathematical set theory. 

* An item appears only once in a set, no matter how many times it is added. 
* Sets can be used to filter duplicates out of other collections, though items may be reordered in the process because sets are unordered in general.

In [ ]:
my_set = {1, 2, 3, 3, 4, 4, 5}
my_set

{(1, 2), 2, 3, 4, 5}

In [ ]:
# built-in call for sets
my_set = set([1, 2, 3, 3, 4, 4, 5])
my_set

{1, 2, 3, 4, 5}

In [ ]:
# built-in call for sets
my_set = set({1, 2, 3, 3, 4, 4, 5})
my_set

{1, 2, 3, 4, 5}

In [ ]:
print(set('this is a test'))

{'s', 'h', 't', ' ', 'e', 'a', 'i'}

We can add more elements with `add()` method

In [ ]:
my_set.add('new_element')
print(my_set)

{1, 2, 3, 4, 5, 'new_element'}

We can remove elements with `remove()` method

In [ ]:
my_set.remove('new_element')
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
other_set = {1, 2, 8, 9}

In [ ]:
# intersection of 2 sets
my_set & other_set

{1, 2}

In [ ]:
# union of 2 sets
my_set | other_set

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
# difference between 2 sets
my_set - other_set

{3, 4, 5}

In [ ]:
my_set ^ other_set

{3, 4, 5, 8, 9}

In [ ]:
# symmetric difference
{5, 6, 3} ^ {3, 4}

{4, 5, 6}

In [ ]:
s = set()
s.add(5)
s.add(4)
print(s)

{4, 5}

In [ ]:
print(my_set)
print(other_set)

{1, 2, 3, 4, 5}
{8, 1, 2, 9}

In [ ]:
# superset (set that includes the other set)
print(my_set > other_set)

False

In [ ]:
my_set.issuperset(other_set)

False

In [ ]:
# subset (set that belongs the other set)
print(my_set < other_set)

False

In [ ]:
my_set.issubset(other_set)

False

In [ ]:
# in operator
3 in my_set

True

In [ ]:
# because sets have {} (curly brackets) like dicts
# empty sets are initicalized differently
s = set()
s.add(2)
print(s)

{2}

In [ ]:
some_set = [1, 1, 1, 3, 3, 2, 2, 4, 4]

# remove duplicates
removed_duplicates = list(set(some_set))
removed_duplicates
# note that the order is not the same!

[1, 2, 3, 4]

In [ ]:
# set comprehension 
new_set = {x ** 2 for x in [1, 2, 3, 4]} 
new_set

{1, 4, 9, 16}

Sets can only contain immutable object types, so `lists` and `dictionaries` cannot be embedded in sets, but tuples can.  

Sets themselves are mutable too, and so cannot be nested in other sets directly; if you need to store a set inside another set, the **frozenset** creates an immutable set that cannot change and thus can be embedded in other sets.

In [ ]:
s.add([1, 2, 3])

TypeError: ignored

In [ ]:
s.add({'one': 1})

TypeError: ignored

In [ ]:
s.add({1, 2, 3})

TypeError: ignored

In [ ]:
s.add(('one', 1))
print(s)

{2, ('one', 1)}

## Frozen Set

In [ ]:
my_set = frozenset((1, 2, 3))
print(my_set)

frozenset({1, 2, 3})

In [ ]:
my_set.add(2)

AttributeError: ignored

In [ ]:
s.add(my_set)
print(s)

{frozenset({1, 2, 3}), 2, ('one', 1)}

# String formatting

We already know the about `format()` method for strings, here we explore some of its useful features.

Suppose we want to dispay the rounded version of a floating number. We can do that like this:

In [ ]:
a = 23.60 * 0.33
print('Rounding up to 2 digits {}'.format(a))
print('Rounding up to 2 digits {:.2f}'.format(a))
print('Rounding up to 3 digits {:.3f}'.format(a))

Rounding up to 2 digits 7.788000000000001
Rounding up to 2 digits 7.79
Rounding up to 3 digits 7.788

The same can be done with the more compact method.

In [ ]:
print(f'Rounding up to 3 digits {a:.4f}')

Rounding up to 3 digits 7.7880

## Formatting integers

To format an integer number, the formatting code is `{:d}`. We can right, left, center justify integers.

In [ ]:
# right justification
print('{:3d}'.format(2))
print('{:{}d}'.format(2,5))
print('{:30d}'.format(25))
print('{:1d}'.format(138))

  2
    2
                            25
138

In [ ]:
# center justification
print('{:^5d}'.format(2))
print('{:^5d}'.format(222))
print('{:^5d}'.format(13834))

  2
 222
13834

In [ ]:
# left justification
print('{:<5d}'.format(2))
print('{:<5d}'.format(222))
print('{:<5d}'.format(13834))
print(f'{13834:<5d}')

2
222
13834
13834

Putting a comma into the formatting code will format the integer with commas. The example below
prints 1,000,000:

In [ ]:
print('{:,d}'.format(1000000))

1,000,000

## Formatting floats

To format a floating point number, the formatting code is `{:f}`

In [ ]:
# right justify and rounding floats
print('{:10.2f}'.format(2.2323423))
print('{:10.2f}'.format(3145.6778))

      2.23
   3145.68

In [ ]:
# center (^) and left (<) justify 
print('{:^20}'.format(3145.6778342342))
print('{:<20}'.format(3145.6778342342))

  3145.6778342342
3145.6778342342

## Formatting strings

To format strings, the formatting code is `{:s}`. Here is an example that centers some text:

In [ ]:
print('{:^10s}'.format('Hi'))
print('{:^10s}'.format('there!'))

    Hi
  there!

To right-justify a string, use the `>` character:

In [ ]:
print('{:>6s}'.format('Hi'))
print('{:>6s}'.format('There'))

    Hi
 There

In [ ]:
# left justify
print('{:<6s}'.format('Hi'))
print('{:^19s}'.format('There'))

Hi
       There

# Nested Loops

You can put loops inside of other loops. A loop inside of another loop is said to be **nested**.

In [ ]:
# example: multiplication table
for i in range(1,11):
  for j in range(1,11):
    print('{:3d}'.format(i*j), end=' ')
  print()

Here we find all the integer
solutions $(x, y)$ to the system $2x + 3y = 4, x - y = 7$, where $x$ and $y$ are both between $-50$ and $50$.

In [ ]:
for x in range(-50,51):
  for y in range(-50,51):
    if 2*x + 3*y == 4 and x - y == 7:
      print(x, y)

Here is a program that finds all the
Pythagorean triples $(x, y, z)$ such that $x^2+ y^2 = z^2$, where $x$, $y$, and $z$ are positive and less than 100.

In [ ]:
for x in range(1,100):
  for y in range(1,100):
    for z in range(1,100):
      if x**2+y**2==z**2:
        print(x,y,z)

In [ ]:
for x in range(1,100):
  for y in range(x,100):
    for z in range(y,100):
      if x**2+y**2==z**2:
        print(x,y,z)

# Exercises

1. Access value 10 from the following tuple

  Հետևյալ tuple-ից ստանալ (վերցնել) 10 արժեքը

  `my_tuple = ("Orange", [10, 20, 30], (5, 15, 25))`

In [1]:
my_tuple = ("Orange", [10, 20, 30], (5, 15, 25))
my_tuple [1][0]

10

2. Write a program that counts the number of occurances of each item in a tuple. 

  Գրել ծրագիր, որը հաշվում է tuple-ի էլեմենտների հաճախականությունները։

In [2]:
def counT(tup,n):
 count = 0
 for i in tup:
   if i == n:
     count += 1
 return count
counT([5,12,51,32,15,5,6,5],5)

3

3. Find the common elements in this sets.

  Գտնել տրված բազմությունների ընդհանուր անդամները։
  
  `set1 = {10, 20, 30, 40, 50}`

  `set2 = {60, 70, 80, 90, 10}`

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 20, 80, 50, 10}
set3 = []
for i in set1:
 if i in set2:
   set3.append(i)
print(set3)

[10, 50, 20]

4. Write a program that finds all integer solutions to $x^2 - 2y^2 = 1$ equation, where $x$ and
$y$ are between $1$ and $100$.

  Գրել ծրագիր, որը կգտնի $x^2 - 2y^2 = 1$ հավասարման ամբողջ լուծումները 1-ից 100 միջակայքում։

In [5]:
def equation():
  L = []
  for x in range(1,100):
    for y in range(1,100):
      if x**2 - 2 * (y**2) == 1:
        L.append((x,y))
  return L
print(equation())

[(3, 2), (17, 12), (99, 70)]

# Working with files

We can read data from various files managed by computer's operating system. **open** function creates a Python file object, which serves as a link to a file located on the machine.

## Opening files

`afile = open(filename, mode)`

`afile.method()`

Here the `filename` may include absolute or relative directory path prefix. In case the directory path is ommitted, it is assumed that the file is located in the current directory.

The second argument to **open** is the processing `mode`, with options such as:
* **'r'** (default) to open text input  
* **'w'** to create and open for text output
* **'a'** to open for appending text to the end (for example adding logfiles).

For full list of modes visit [here](https://www.programiz.com/python-programming/methods/built-in/open) . Some modes can even be combined, like 'rb', 'wb' , etc.

Once the file object is made, we can call its methods to read from or write to the associated external file. Reading a file returns its content in strings and content is passed to the write methods as strings.

To keep your environment clean it is useful to have a 'path' variable which will indicate the folder from/in which you'll read/write your files. By default, python reads/writes data to/from the current directory, where the Jupyter notebook (or the code file) is located. If we want to read/write from another source, we should specify the path to it before the file name.

In [ ]:
# for example, the path variable can look like this
path = 'C:\\Users\\some_user\\Documents\\'

In [ ]:
# lets write a .txt file with some wording
my_file = open('myfile.txt', 'w')  # create an empty text file

# in case we wanted to write the file into the specified path
# we would write the above code like this
# my_file = open(path + 'myfile.txt', 'w')  

my_file.write('The aim of Unit 1991 program is to provide opportunities\n\
for continuing education, multifaceted development, and advancement of\n\
professional skills for inductees in the Armed Forces of Armenia.\n')

my_file.write('It is envisioned that R&D projects and analyses to target both\n\
short- and long-term problems will be implemented')


my_file.close()

In [ ]:
my_file = open('myfile.txt', 'w')  

my_file.write("""
The aim of Unit 1991 program is to provide opportunities
for continuing education, multifaceted development, and advancement of
professional skills for inductees in the Armed Forces of Armenia.

It is envisioned that R&D projects and analyses to target both
short- and long-term problems will be implemented""")


my_file.close()

In [ ]:
# read all at once into string
myfile = open('myfile.txt')  # default mode is 'r' (read)

# read line by line
print(myfile.readline()) 
print(myfile.readline())

The aim of Unit 1991 program is to provide opportunities

In [ ]:
# read all at once into string
myfile = open('myfile.txt')  
myfile.read()

'\nThe aim of Unit 1991 program is to provide opportunities\nfor continuing education, multifaceted development, and advancement of\nprofessional skills for inductees in the Armed Forces of Armenia.\n\nIt is envisioned that R&D projects and analyses to target both\nshort- and long-term problems will be implemented'

In [ ]:
# user-friendly display
print(open('myfile.txt').read())

The aim of Unit 1991 program is to provide opportunities
for continuing education, multifaceted development, and advancement of
professional skills for inductees in the Armed Forces of Armenia.

It is envisioned that R&D projects and analyses to target both
short- and long-term problems will be implemented

In [ ]:
# if we want to scan a text file line by line
for line in open('myfile.txt'):
  print(line, end='')

The aim of Unit 1991 program is to provide opportunities
for continuing education, multifaceted development, and advancement of
professional skills for inductees in the Armed Forces of Armenia.

It is envisioned that R&D projects and analyses to target both
short- and long-term problems will be implemented

To not get confused and mess up with open, close syntax there is a **with** clause which automatically closes the file after doing operations.

In [ ]:
with open('myfile.txt','r') as f: # f = open...
    read_file = f.read()
print(read_file)

The aim of Unit 1991 program is to provide opportunities
for continuing education, multifaceted development, and advancement of
professional skills for inductees in the Armed Forces of Armenia.

It is envisioned that R&D projects and analyses to target both
short- and long-term problems will be implemented

In [ ]:
with open('myfile1.txt','w') as f:
    f.write("""The aim of Unit 1991 program is to provide opportunities
for continuing education, multifaceted development, and advancement of
professional skills for inductees in the Armed Forces of Armenia.

It is envisioned that R&D projects and analyses to target both
short- and long-term problems will be implemented
""")

## Uploading files to Google Colab 

We can use the following code snippet to upload files to Colab from our local machine. After running the code you should click on the **Choose Files** button, select the files and press **Open**.

In [ ]:
from google.colab import files
uploaded = files.upload()

To view the uploaded files, as well as the other files in the current directory, run the following command.

In [ ]:
!ls

myfile1.txt  myfile.txt  sample_data

We can also access the files on our Google Drive by mounting it (making the files in our drive accessible by Colab). For doing this you should go through the authorization process.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

After mounting our Google Drive, in order to access the files in the Drive, we can either change our current directory to the directory that contains the Drive files or we can set the path to the corresponding one. You can see these below.

In [ ]:
!pwd

/content

In [ ]:
# change the directory
!cd drive/'My Drive'/

In [ ]:
# set the new path before reading the files in python
open("drive/'My Drive/filename.txt'",'r')

## Storing Python Objects in Files

File data is always strings in our scripts, and write methods do not do any automatic to-string formatting for us.

In [ ]:
my_dict = {'A': 2, 'B': 4, 'C': 5}

In [ ]:
# create output text file
new_file = open('datafile.txt', 'w')

# using the dictionary created earlier
for key in my_dict:    
  new_file.write(f'{key}\t{my_dict[key]}\n') 
new_file.close()

In [ ]:
print(open('datafile.txt').read())

A	2
B	4
C	5

In [ ]:
print(my_dict)

{'A': 2, 'B': 4, 'C': 5}

In [ ]:
# we can also store the dictionary (or any other) object as string
other_file = open('file.txt', 'w')
# other_file.write(str(my_dict))
other_file.write('print(5)')
other_file.close()

In [ ]:
print(open('file.txt').read())

print(5)

In [ ]:
# we can recreate the dictionary, reading it from the text file
# eval() = evaluate
same_dict = eval(open('file.txt').read())
print(same_dict)

5
None

## Storing Native Python Objects: pickle

Using `eval` to convert from strings to objects, as demonstrated in the above code, is a powerful tool. `eval` will run any Python expression - even one that might delete all the files on your computer, given the necessary permissions! If you really want to store native Python objects, but you can’t trust the source of the data in the file, Python’s standard library pickle module is ideal.

The **pickle** module is a more advanced tool that allows us to store almost any Python object in a file directly, with no to- or from-string conversion requirement on our part.

In [ ]:
# let's use the same my_dict dictionary 
# and store it directly on the pickle file
pickle_file = open('datafile.pkl', 'wb')  
# 'wb' mode means 'write binary'

In [ ]:
# we need to import the library for dealing with pickle files 
import pickle  
pickle.dump(my_dict, pickle_file)
pickle_file.close()

In [ ]:
# let's get back to the stored dictionary 
pickle_file = open('datafile.pkl', 'rb')  # 'rb' mode means 'read binary'
same_dict = pickle.load(pickle_file)
same_dict

{'A': 2, 'B': 4, 'C': 5}

In [ ]:
type(same_dict)

dict

**pickle** module performs all the object to and from byte string conversions for us. We can see how the byte strings look like.

In [ ]:
# it's good that we don't have to deal with the conversion
open('datafile.pkl', 'rb').read()

b'\x80\x04\x95\x17\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x01A\x94K\x02\x8c\x01B\x94K\x04\x8c\x01C\x94K\x05u.'

## Storing Python Objects in JSON Format

JSON is a newer and emerging data interchange format. It does not support as broad a range of Python object types as pickle, but its portability is an advantage in some contexts, and it represents another way to serialize
a specific category of Python objects for storage and transmission. Moreover, because JSON is so close to Python dictionaries and lists in syntax, the translation to and from Python objects is trivial, and is automated by the **json** standard library module.

In [ ]:
# json module translates 
# the Python objects (for example the dict)
# to and from a JSON serialized string representation
# in memory
import json
a = json.dumps(my_dict)
print(type(a))
print(a)

<class 'str'>
{"A": 2, "B": 4, "C": 5}

We can easily translate Python objects to and from JSON data strings
in files. Before being stored in a file, your data is simply Python objects; the JSON module recreates them from the JSON textual representation when it loads it from the file

In [ ]:
json.dump(my_dict, fp=open('json_file.txt', 'w'), indent=4)
print(open('json_file.txt').read())

{
    "A": 2,
    "B": 4,
    "C": 5
}

In [ ]:
# re-create the dict
same_dict = json.load(open('json_file.txt'))
same_dict["A"]

2

In [ ]:
some_list = json.load(open('sample_data/anscombe.json'))
some_list

[{'Series': 'I', 'X': 10.0, 'Y': 8.04},
 {'Series': 'I', 'X': 8.0, 'Y': 6.95},
 {'Series': 'I', 'X': 13.0, 'Y': 7.58},
 {'Series': 'I', 'X': 9.0, 'Y': 8.81},
 {'Series': 'I', 'X': 11.0, 'Y': 8.33},
 {'Series': 'I', 'X': 14.0, 'Y': 9.96},
 {'Series': 'I', 'X': 6.0, 'Y': 7.24},
 {'Series': 'I', 'X': 4.0, 'Y': 4.26},
 {'Series': 'I', 'X': 12.0, 'Y': 10.84},
 {'Series': 'I', 'X': 7.0, 'Y': 4.81},
 {'Series': 'I', 'X': 5.0, 'Y': 5.68},
 {'Series': 'II', 'X': 10.0, 'Y': 9.14},
 {'Series': 'II', 'X': 8.0, 'Y': 8.14},
 {'Series': 'II', 'X': 13.0, 'Y': 8.74},
 {'Series': 'II', 'X': 9.0, 'Y': 8.77},
 {'Series': 'II', 'X': 11.0, 'Y': 9.26},
 {'Series': 'II', 'X': 14.0, 'Y': 8.1},
 {'Series': 'II', 'X': 6.0, 'Y': 6.13},
 {'Series': 'II', 'X': 4.0, 'Y': 3.1},
 {'Series': 'II', 'X': 12.0, 'Y': 9.13},
 {'Series': 'II', 'X': 7.0, 'Y': 7.26},
 {'Series': 'II', 'X': 5.0, 'Y': 4.74},
 {'Series': 'III', 'X': 10.0, 'Y': 7.46},
 {'Series': 'III', 'X': 8.0, 'Y': 6.77},
 {'Series': 'III', 'X': 13.0, 'Y': 12.74},
 {'Series': 'III', 'X': 9.0, 'Y': 7.11},
 {'Series': 'III', 'X': 11.0, 'Y': 7.81},
 {'Series': 'III', 'X': 14.0, 'Y': 8.84},
 {'Series': 'III', 'X': 6.0, 'Y': 6.08},
 {'Series': 'III', 'X': 4.0, 'Y': 5.39},
 {'Series': 'III', 'X': 12.0, 'Y': 8.15},
 {'Series': 'III', 'X': 7.0, 'Y': 6.42},
 {'Series': 'III', 'X': 5.0, 'Y': 5.73},
 {'Series': 'IV', 'X': 8.0, 'Y': 6.58},
 {'Series': 'IV', 'X': 8.0, 'Y': 5.76},
 {'Series': 'IV', 'X': 8.0, 'Y': 7.71},
 {'Series': 'IV', 'X': 8.0, 'Y': 8.84},
 {'Series': 'IV', 'X': 8.0, 'Y': 8.47},
 {'Series': 'IV', 'X': 8.0, 'Y': 7.04},
 {'Series': 'IV', 'X': 8.0, 'Y': 5.25},
 {'Series': 'IV', 'X': 19.0, 'Y': 12.5},
 {'Series': 'IV', 'X': 8.0, 'Y': 5.56},
 {'Series': 'IV', 'X': 8.0, 'Y': 7.91},
 {'Series': 'IV', 'X': 8.0, 'Y': 6.89}]

In [ ]:
# similarly using the 'with' clause
with open('json_file.txt', 'w') as f:
    json.dump(my_dict, f)

with open('json_file.txt', 'r') as f:
    file1 = json.load(f)
print(file1)

{'A': 2, 'B': 4, 'C': 5}

In [ ]:
dict_1 = json.loads('{"A": 2}')

In [ ]:
dict_1["A"]

2